.footerComponent{
	background: var(--var-card-bg);
	outline: $card-border;
	text-align: center;
	padding: 20px;
	margin-bottom: 20px;
	margin-top: 10px;
	a{
		color: var(--var-primary);
		text-decoration: wavy underline
	}
}