@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&display=swap");

:root,
html[data-theme="light"] {
  color-scheme: light;
  --var-background: rgb(250, 250, 250);
  --var-background-search: rgb(255, 255, 255);

  --var-primary: rgb(104, 169, 243);
  --var-accent: rgb(26, 83, 148);

  --var-card-bg: rgba(255, 255, 255);
  --var-card-bg-hover: rgba(104, 169, 243, 0.08);
  --var-card-bg-active: rgba(104, 169, 243, 0.55);
  --var-card-border: 1px solid rgb(216, 216, 216);

  --var-iframe-filter: none;

  --var-display-darkicon: inline;
  --var-display-lighticon: none;
}

@media (prefers-color-scheme: dark) {
  :root,
  html[data-theme="dark"] {
    color-scheme: dark;
    --var-background: rgb(12, 12, 12);
    --var-background-search: rgb(0, 0, 0);

    --var-primary: rgb(26, 83, 148);
    --var-accent: rgb(104, 169, 243);

    --var-card-bg: rgb(43, 44, 45);
    --var-card-bg-hover: rgb(64, 65, 69);
    --var-card-bg-active: rgb(60, 68, 77);

    --var-card-border: 1px solid rgb(50, 50, 50);

    --var-iframe-filter: invert(1) hue-rotate(180deg);

    --var-display-darkicon: none;
    --var-display-lighticon: inline;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  background: var(--var-background);
}

p {
  font-size: 1rem;
  font-family: $system-font;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.5rem;
  // font-weight: bold;
  white-space: pre-wrap;
  text-align: left;
  // font-family: $accent-font;
}

input,
button {
  font-size: 1rem;
}

main {
  max-width: $max-width;
  margin: auto;
  > h1 {
    font-family: $system-font;
    padding-left: 10px;
    padding-top: 20px;
  }
  > p {
    padding-left: 10px;
    padding-bottom: 10px;
  }
}
