@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&display=swap');

:root, html[data-theme=light] {
  color-scheme: light;
  --var-background: rgb(239, 241, 243);
  --var-background-search: rgb(255, 255, 255);

  --var-primary: rgb(104, 169, 243);

  --var-card-bg: rgb(221, 230, 235);
  --var-card-bg-hover: rgb(202, 218, 226);
  --var-card-bg-active: rgb(181, 201, 212);
  --var-card-border: 1px solid rgb(0, 0, 0);

  --var-iframe-filter: none;

  --var-display-darkicon: inline;
  --var-display-lighticon: none;
}

@media (prefers-color-scheme: dark) {
  :root, html[data-theme=dark] {
    color-scheme: dark;
    --var-background: rgb(24, 24, 24);
    --var-background-search: rgb(24, 24, 24);

    --var-primary: rgb(26, 83, 148);

    --var-card-bg: rgb(39, 43, 44);
    --var-card-bg-hover: rgb(66, 81, 89);
    --var-card-bg-active: rgb(73, 99, 113);
    --var-card-border: 1px solid rgb(115, 115, 115);

    --var-iframe-filter: invert(1) hue-rotate(180deg);
    
    --var-display-darkicon: none;
    --var-display-lighticon: inline;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  background: var(--var-background);
}

p {
  font-size: 1rem;
  font-family: $system-font;
}

a {
  color: inherit;
  text-decoration: none;
}

h1{
  font-size: 1.5rem;
  // font-weight: bold;
  white-space: pre-wrap;
  text-align: left;
  // font-family: $accent-font;
}

input, button {
  font-size: 1.0rem;
}

main {
  max-width: $max-width;
	margin: auto;
  >h1{
    font-family: $system-font;
    padding-left: 10px;
    padding-top: 20px;
  }
  >p{
    padding-left: 10px;
    padding-bottom: 10px;
  }
}