.main {
	> .searchContainer {
		margin: 30px auto 20px;
		max-width: 600px;
		> .searchContainerInner {
			position: relative;
			> input{
				background: $search-bg;
				display: inline;
				padding: 10px;
				padding-right: 32px;
				border-radius: $border-radius;
				border: $card-border;
				width: 100%;
			}
			.searchIcon{
				display: inline;
				position: absolute;
				right: 4px;
				top: 4px;
			}
		}
	}
	> .grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		max-width: $max-width;
		margin: auto;
		> .gridItem{
			padding: 10px;
			background: $card-bg;
			border-radius: $border-radius;
			border: $card-border;
			margin: 10px;
			transition: all 0.18s;
		}
		> .gridItem:hover{
			background: darken($card-bg, 8%);
		}
	}
}