.main {
	>.searchContainer {
		margin: 30px auto 20px;
		max-width: 600px;

		@media only screen and (max-width: 720px) {
			padding-left: 10px;
			padding-right: 10px;
		}

		>.searchContainerInner {
			position: relative;

			>input {
				background: var(--var-background-search);
				display: inline;
				padding: 10px;
				padding-right: 32px;
				border-radius: $border-radius;
				border: $card-border;
				width: 100%;
			}

			.searchIcon {
				display: inline;
				position: absolute;
				right: 4px;
				top: 4px;
				filter: var(--var-iframe-filter);
			}
		}
	}

	>.sortPanel {
		font-family: $system-font;
		justify-content: center;
		display: flex;
		// background: red;
		gap: 10px;
		margin-bottom: 10px;

		>div {
			>select {
				// 
			}

			>div {
				padding-left: 5px;
				cursor: pointer;
				display: inline-block;
			}
		}
	}

	>.grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		@media only screen and (max-width: 720px) {
			grid-template-columns: repeat(2, 1fr);
		}

		max-width: $max-width;
		margin: auto;

		>.gridItem {
			// filter: hue-rotate(40deg);
			font-family: $system-font;
			padding: 10px;
			background: var(--var-card-bg);
			border-radius: $border-radius;
			border: $card-border;
			// box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 1px;
			margin: 10px;
			transition: all 0.18s;

			&:hover {
				background: var(--var-card-bg-hover);
			}

			&:active {
				background: var(--var-card-bg-active);
			}
		}
	}

	.lightText {
		opacity: 0.72;
	}
}