.header {
	font-family: monospace;
	padding: 10px;
	// padding-left: 50px;
	background: #66A7F3;
	> nav{
		display: flex;
		justify-content: space-between;
	}
	
}
.main {
	> .grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		> .gridItem{
			padding: 10px;
			background: gray;
			margin: 10px;
		}
	}
}
