// General styling
$border-radius: 4px;
$max-width: 1200px;
// Backgrounds
$background: rgb(239, 241, 243);
$header-bg: rgb(120, 148, 231);

// Cards
$card-bg: rgb(221, 230, 235);
$card-border: 1px solid #000;

// Fonts
$system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$accent-font: 'Advent Pro', sans-serif;